.center-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
   -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
   background-image: url("Resources/Images/Background.png");
   background-color:#e1e3dd;
   margin:0;
   min-height:100%;
   font-size: 130%;
}

p
{
   line-height:1.5;
   font-size: 120%;
   margin-left: 40px;
}

.main
{
    margin-left: 50px;
    margin-top: 100px;
}

button.accordion
{
   background-color:#e1e3dd9f;
   cursor:pointer;
   padding:18px;
   border:none;
   text-align:left;
   outline:none;
   font-size: 140%;
   transition:0.4s;
   position:relative;
}

button.accordion.active,button.accordion:hover
{
   background-color:#e1e3dd00;
}

div.panel
{
   padding:0 18px;
   background-color: #e1e3dd9f;
   max-height:0;
   max-width: 1000px;
   overflow:hidden;
   transition:max-height 0.2s ease-out;
}

div.gallery
{
   padding:0 18px;
   background-color: #e1e3dd9f;
   max-height:0;
   overflow:hidden;
   transition:max-height 0.2s ease-out;
}

button.accordion:after
{
   content:'\002B';
   color:rgb(0, 0, 0);
   margin-left:10px;
   right:15px;
   top:19px;
}

button.accordion.active:after
{
   content:"\2212";
}

.column 
{
   float: left;
   width: 24.0%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .row::after 
 {
   content: "";
   clear: both;
   display: table;
 }